language: python
cache: pip

matrix:
    include:
        - python: 3.6
          env: TOXENV=lint
        - python: pypy3
          env: TOXENV=pypy3
        - python: 3.5
          env: TOXENV=py35
        - python: 3.6
          env: TOXENV=py36
        - python: 3.7
          env: TOXENV=py37
        - python: 3.8
          env: TOXENV=py38
        - python: 3.9-dev
          env: TOXENV=py39

install:
  - pip install tox
  - pip install codecov

script: "tox -- -rs"

after_success:
  - codecov
